<!DOCTYPE html>
<html>
  <head>
    <title>chaVoso</title>
    <link rel="icon" type="image/png" href="assets/barber.png" sizes="32x32" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
